<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>My Shopping List</title>


</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0" bgcolor="#006699">

<p>


    <br><br>
    &nbsp;</p>
<p>
    <br><br>




</p>
<div align="center">
    <table cellpadding="0" cellspacing="0" width="501">
        <!-- MSTableType="layout" -->
        <tr>
            <td height="268" valign="middle">

                <h2 align="center"><font face="Averia" color="#FFFFFF">Do not forget to fill all
                    the boxes!</font></h2>



                <p align="center">&nbsp;</p>
                <p align="center"><font face="Averia" size="4" color="#FFFFFF">&lt;&lt;
                </font><font face="Averia">
                    <a href="/" style="text-decoration: none">
                        <font color="#FFFFFF" size="4">Return Shopping List</font></a><font size="4" color="#FFFFFF">
                    &lt;&lt;</font></font></p>
                <p>&nbsp;</td>
        </tr>
    </table>
</div>




</body>
</html>
